@{
    ViewData["Title"] = "Compra de Boletos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>Compra de Boletos</h2>

    <div>
        <h5>Detalles del Boleto:</h5>
        <p>Precio por Boleto: $@ViewBag.PrecioPorBoleto</p>

        <form method="post" action="@Url.Action("ComprarBoletos", "Modulos")">
            <label for="cantidadBoletos">Cantidad de Boletos:</label>
            <input type="number" id="cantidadBoletos" name="cantidadBoletos" min="1" required />

            <input type="submit" value="Continuar" class="btn btn-primary mt-3" />
        </form>
    </div>
</div>